$parking-default-color:#1B3B6F;
$parking-full-color: rgb(236, 18, 18);
$parking-warning-color: rgb(255, 60, 0);

$parking-default-gradient: linear-gradient(-45deg,#1B3B6F, #065A82, #1C7293);
$parking-warning-gradient: linear-gradient(-45deg,rgb(255, 60, 0), rgb(255, 94, 0), rgb(250, 145, 75));
$parking-default-hover: #1C7293;
$parking-warning-hover: rgb(250, 145, 75);
